{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": "> 1%",
          "uglify": true
        }
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/syntax-dynamic-import",
    "@babel/proposal-object-rest-spread",
    [
      "@babel/proposal-class-properties",
      {
        "spec": true
      }
    ]
  ]
}
