.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: green;
  height: 56px;
  z-index: 10;
}

.toolbar__navigation {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.toolbar_navigation-items {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  li {
    padding: 0 0.5rem;
  }
  .links {
    color: white;
    text-decoration: none;
    &:hover, &:active {
      color: black;
    }
    cursor: pointer;
  }
}

.toolbar__logo {
  margin-left: 1rem;
  a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
  }
}

.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.search {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.spacer {
  flex: 1;
}

@media (max-width: 700px) {
  .toolbar_navigation-items {
    display: none;
  }
}

@media (min-width: 700px) {
  .toolbar__toggle-button {
    display: none;
  }
}