.poll-question {
  background-color: green;
  padding: 30px 40px;
  color: white;
  text-align: center;
  input {
    margin: 5px;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  select {
    margin: 5px 0px;
    border: none;
    border-radius: 0;
    width: 30%;
    padding: 10px;
    font-size: 16px;
    &.categories {
      float: left;
    }
    &.agegroup {
      margin-right: 23%;
      float: right;
    }
  }
}

/* Clear floats after the poll__question */
.poll-question:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the poll-question */
.poll-location {
  background-color: green;
  padding: 30px 40px;
  color: white;
  text-align: center;
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
}

.poll-option__new {
  padding: 10px;
  margin: -10px;
  width: 75%;
  font-size: 16px;
}