.btn-group {
  float: right;
  button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    margin: 15px;

    &.primary {
      background-color: green;
    }

    &.secondary {
      background-color: red;
    }
  }
}