.main-wrapper{
  margin: 5%;
  position: relative;

  .main-wrapper-header{
    display: flex;
    overflow: hidden;

    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 60px;

    z-index: 10;

    .main-wrapper-header-content {
      background-color: green;
      padding: 10px 20px;
      width: 100%;
    }

    .btn__inner {
      float: right;
    }

    input{
      font-size: inherit;
      padding: 0.3em 0.4em;
      margin: 0.1em 0.2em;
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      border: 1px solid #f90;
      background-color: #fff;
    }

    select{
      font-size: inherit;
      padding: 0.3em 0.4em;
      margin: -6px 10px;
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      border: 1px solid #f90;
      background-color: #fff;
    }
  }

  .main-wrapper__content{
    margin-top: 50px;

  }

}

@media (max-width: 700px) {
  .main-wrapper {
    margin: 1% ;
    .poll-search {
      float: right;
    }
  }
}

